<div>
    <div class="header">
        <div class="header-container">
            <div class="logo">LOGO</div>
            <button (click)="openModal()" class="btn btn-primary">Добавить запись</button>
        </div>
    </div>
    <div class="content">
        <div class="item">
            <div class="img"></div>
            <p class="title">title</p>
            <p class="description">description</p>
            <div class="full-info">подробнее</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <p class="title">title</p>
            <p class="description">description</p>
            <div class="full-info">подробнее</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <p class="title">title</p>
            <p class="description">description</p>
            <div class="full-info">подробнее</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <p class="title">title</p>
            <p class="description">description</p>
            <div class="full-info">подробнее</div>
        </div>
    </div>
</div>
